


<div class="txtbox">
    <div class="gradient"></div>
    <h2>Our Story</h2>
    <div class="gradient"></div>
    <div class="container">
    <p>
        We were founded by like-minded pet lovers who have a deep appreciation for 
        commonly overlooked pets, the rock. We recognize that your pet rock is just
        as important and requires the same amount of care as other traditional house pets.
        We began our journey with one goal in mind: We want to create a safe and nuturing 
        environments for your pet rocks for when you need some help.
    </p>
    </div>

    <br>

    <h2>Why Choose Rock Hard Sitters</h2>
    <div class="gradient"></div>
    <div class="container">
        <p>
            <b>Experienced Professionals:</b> You care about your pet rock and so do we, and 
            for this reason we have our highly trained rock aficionados. Our caretakers have been
            trained to have extensive knowledge in various kinds of rocks, gems, and their compounds 
            so we can ensure your rock gets the best care possible. <br><br>
           
            <b>Tailored Services:</b> We understand that not every rock is the same, just like you. 
            You'll be sure to find a service that will fit the needs of your pet rock. From water erosion
            to sunbathing sessions, we have an activity to keep your rock happy. <br><br>

            <b>Safe and Secure Environment:</b> Rest assured, your pet rocks are important to us. We 
            are sure to provide you a secure environment that will prevent any kind of damage to your 
            beloved pet. Our cushioned rock displays and controlled environments are sure to keep your
            pet well protected. <br><br>

            <b>Regular Updates:</b> We understand you want to keep track of how your pet is doing. We understand
            being away from a pet can be hard for both of you. This is why we provide regular updates on your pet,
            including photos and videos of your pet enjoying their time at our facility. Even away, you and your
            pet can stay connected. <br><br>

            With this, we hope that you can find it in you to join us in our journey. By opting in to our services 
            you're also becoming a part of our rock-loving family. Your pet rock's happiness and well-being are at 
            the core of who we are and what we do. <br><br>

            Thank you for considering Rock Hard Sitters as your parter in rock care. We look forward to welcoming you
            into our family with open hands and creating a rock-solid relationship. <br>
            
            Sincerely, <br>
            Rock Hard Sitters

        </p>
    </div>
    <br><br><br>
    <div class="gradient"></div>
</div>